<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Teste</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<header>
    <iframe src="./nav.html" frameborder="0" height="40px" width="100%"></iframe>
</header>

<body>
    <div id="example">
        <input v-model="mensagem">
        <p>Mensagem original: "{{mensagem}}"</p>
        <p>Mensagem ao contrário: "{{mensagemAoContrario}}"</p>

        <h3>cache de computed vs métodos</h3>
        <b>a diferença é que dados computados são cacheados de acordo com suas dependências reativas</b>
        ou seja, o valor de retorno é cacheado e só é recalculado quando uma das dependencias for alterada, isto é,
        quando valor de mensagem for alterado
        <p>Mensagem ao contrário (usando chamada de método) "{{mensagemAoContrarioMeth()}}"</p>

        <h3>dados computados vs. observadores (watchers)</h3>
        exemplo de uso excessivo de watchers para alterar um valor em dependencia de outros, sendo que este valor
        poderia ser simplesmente uma propriedade computada
    </div>
    <div id="getset">
        <h3>atribuição em dados computados</h3>
        setters
        é possivel definifir getter e setter para um dado computado
        <br>
        <input v-model="fullname">
        <p>{{fullname}}</p>
    </div>
    <div id="observadores">
        <h3>Obsevadores</h3>
        <p>Enquanto dados computados são mais adequados na maioria dos casos, há
            momentos em que um observador personalizado é necessário. Por isso
            o Vue fornece uma maneira mais genérica para reagir a alterações de
            dados, o watch. Isto é particularmente útil quando se precisa
            executar operações assíncronas ou operações complexas antes de
            responder a uma alteração de dados.</p>

        <p>
            Faça uma pergunta do tipo sim/não:
            <input v-model="questão">
        </p>
        <p>{{resposta}}</p>
    </div>



    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                mensagem: 'Olá Vue'
            },
            methods: {
                mensagemAoContrarioMeth: function () {
                    return this.mensagem.split('').reverse().join('')
                }
            },
            computed: {
                mensagemAoContrario: function () {
                    return this.mensagem.split('').reverse().join('')
                }
            }
        })
        var vm2 = new Vue({
            el: '#getset',
            data: {
                name: "cesar",
                lastName: "m oliveira"
            },
            computed: {
                fullname: {
                    get: function () {
                        return this.name + ' ' + this.lastName
                    },
                    set: function (novoValor) {
                        var names = novoValor.split(' ')
                        // debugger;
                        this.name = names.shift()
                        // debugger;
                        this.lastName = names.join(' ')
                    }
                }
            }
        })
    </script>
    <!-- observadores -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
        var observadores = new Vue({
            el: '#observadores',
            data:{
                questão:"",
                resposta:"Não posso responder até vc perguntar"
            },
            watch:{
                // sempre que a pergunta mudar, essa função será executada
                questão: function (novaQuestão, velhaQuestão) {
                    this.resposta = "esperando voce para de escrever"
                    this.debouncedGetAnswer()
                }
            },
            created: function () {
                // _.debounce é uma função fornecida pelo lodash para limitar
                // a frequência que uma operação complexa pode ser executada.
                // Neste caso, queremos limitar a frequência com que acessamos
                // a yesno.wtf/api, esperando que o usuário termine completamente
                // a digitação antes de realizar a chamada Ajax. Para aprender
                // mais sobre a função _.debounce (e sua prima _.throttle),
                // visite: https://lodash.com/docs#debounce
                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods:{
                getAnswer: function () {
                    if (this.questão.indexOf('?') === -1){
                        this.resposta = 'perguntas precisam de interrogação'
                        return
                    }
                    this.resposta = "Pensando..."
                    var vmm = this
                    axios.get('https://yesno.wtf/api')
                        .then(function (response) {
                            vmm.resposta = response.data.answer === 'yes' ? 'Sim.':
                                response.data.answer === 'no' ? 'Não.' : 'Talvez!'
                        })
                        .cath(function (error) {
                            vmm.resposta = 'Erro! Não pode executar a API. ' + error
                        })
                }
            }
        })
    </script>
</body>